@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
	box-sizing: border-box;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/*set overall body font */

body {
	font-family: Montserrat, lato;
}

/* define content wrapper */
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
}

/*set a background image for header */
.hero_image{
	background: transparent url("../image/hero_image.png");
	background-size: cover;
	height: 657px;
	background-repeat: no-repeat;
	background-origin: padding-box;
	
}
/*header styling */
header {
	padding-top: 20px;
	height: 136px;
	
}
#logo {
	margin-top: 20px;
	margin-left: 80px;
	width: 124px;
	height: 96px;
	
}

img {
	object-fit: cover;
}

.right-header {
	float: right;
	margin-right: 80px;

}
/*ul styling(nav bar) */
.navigation-bar {
	padding-top: 35px;
	/*display: inline-block;
	vertical-align: top;
	list-style-type: none;
	width: 655px;*/
}

li {
	display: inline-block;
	padding-left: 27px;
}

li a {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 22px;
	
}

#hello-button {
	height: 54px;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 34px;
	text-decoration: none;
	color: #3693D6;
	font-family: montserrat;
	font-size: 22px;
	padding: 14px 50px 14px 50px;
}

/* styling for Our Work button */
div.work{
	position: absolute;
	top: 527px;
	right: 80px;
	bottom: 62px;
}
#work-button {
	height: 68px;
	padding: 19px 57px 19px 57px;
	background-color: #3693D6;
	border: 2px solid #3693D6;
	border-radius: 34px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: montserrat;
	font-size: 25px;
	 
}

/* styling for About me box */
section.about-me {
	padding-top: 100px;
	padding-bottom: 120px;
	background-color: #3693D6;
}

h1 {
	text-align: center;
	font-family: montserrat;
	font-size: 52px;
	color: #FFFFFF;
}

.about-content {
	padding-top: 48px;
	font-family: montserrat;
	font-size: 42px;
	color: #FFFFFF;
	
}

p {
	text-align: center;
}

/* style for our work */
section.our-work {
	/* UI property */
	margin-top: 100px;
	text-align: center;
	background-color: #FFFFFF;
	
}

h2#work-head {
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 100px;
}

h2 {
	text-align: center;
	font-weight: 600;
	font-size: 52px;
	font-family: Montserrat;
	color: #3693D6;
	
}

.gallery {
	width: 100%;
	background-color: #FFFFFF;
}

.gallery_img {
	display: inline-block;
	width: 421px;
	height: 392px;
	padding-right: 13px;
	padding-bottom: 12px;
}

.gallery_img2 {
	display: inline-block;
	width: 849px;
	height: 392px;
	padding-right: 13px;
	padding-bottom: 12px;
}
section.user-info{
	margin-top: 100px;
	margin-bottom: 138px;
	
}
.user {
	margin-left: 200px;
	margin-right: 200px;
	clear: both;
}

#user-heding {
	margin-bottom: 38px;
}

#user-img {
	display: block;
	margin-bottom: 34px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 255px;
	width: 265px;
	height: 265px;
	
}

#user-name {
	text-align: center;
	font-family: Montserrat;
	font-size: 42px;
	color: #3696D6;
	margin-bottom: 40px;
}

#user-info {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Montserrat;
	font-size: 32px;
	color: #3693D6;
}

.circle {
	float: left;
	margin-top: 51px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #E2E2E2;
}

#ellips1 {
	margin-left: 50%;
	background-color: #9BC0FF;
}

section.card-container {
	background-color: #3693D6;
	padding-top: 100px;
	padding-bottom: 100px;
}

.arrow {
	width: 15px;
	height: 15px;
	border: 2px solid #FFFFFF;
	border-width: 0 5px 5px 0;
	display: inline-block;
}

.left {
	margin-right: 45px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.card {
	display: inline-block;
	margin-right: 60px;
	width: 336px;
	height: 554px;
	vertical-align: middle;
	/*UI properties */
	background-color: #FFFFFF;
	box-shadow: 0px 3px 10px #00000029;
	border-radius: 8px;
}

.icon {
	margin: 77px 80px 55px 80px;
	width: 177px;
	height: 135px;

}

.card-title {
	text-align: center;
	font-size: 30px;
	font-family: Lato;
	font-weight: bold;
	color: #29313E;
	margin-bottom: 27px;
}

.card-text {
	text-align: center;
	font-size: 24px;
	font-family: Lato;
	vertical-align: middle;
	color: #29313E;
	margin-right: 19px;
	margin-left: 20px;
	margin-bottom: 44px;
}

span {
	color: #0098DA;
}

section.form {
	/*margin-left: 30px;*/
	padding-top: 100px;
	margin-bottom: 100px;
	clear: both;
}
h3 {
	font-size: 40px;
	font-family: Montserrat;
	font-weight: normal;
	color: #151D41;
}


.user_ip-left {
	float: left;
	width: 50%;
}

.user_ip-right {
	width:50%;
	float: left;
}

.user_ip-left input[type=text],
input[type=email],
input[type=tel] {
	width: 620px;
	height: 55px;
	margin-top: 50px;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 31px;
	background-color: #FFFFFF;
	border: 1px Solid #151D41;
	border-radius: 5px;
	font-size:18px;
	font-family: Montserrat;
	color: #151D41;


}

input[type=submit] {
	width: 280px;
	height: 65px;
	margin-top: 80px;
	margin-right: 980px;
	background-color: #3693D6;
	border-radius: 40px;
	font-size: 25px;
	font-family: Montserrat;
	color: #FFFFFF;
}

textarea#msg {
	width: 620px;
	height: 266px;
	padding-top: 30px;
	padding-left: 30px;
	background-color: #FFFFFF;
	border: 1px solid #151D41;
	border-radius: 5px;
	text-align: left;
	font-size: 18px;
	font-family: Montserrat;
	color: #151D41;
	margin-top: 48px;

}

footer {
	height: 300px;
	background-color: #3693D6;
	clear: both;
}

.footer-logo {
	float: left;
	margin-top: 135px;
	width: 122px;
	height: 58px;
	margin-top: 135px;
	margin-left:80px;
}

.footer-containt {
	float: left;
	margin-top: 73px;
	margin-left: 50px;
}

h4 {
	font-weight: 600;
	font-size:32px;
	font-family: Montserrat;
	color: #FFFFFF;
}
.flocation{
	margin-top: 28px;
	width: 264px;
	text-align: left;
	font-size: 22px;
	font-family: Montserrat;
	color: #FFFFFF;	
}

.mail-tel{
	margin-top: 28px;
	text-align: left;
	font-size: 22px;
	font-family: Montserrat;
	color: #FFFFFF;
	
}


.ficon {
	float: left;
	margin-top: 120px;
	margin-left:49px;
}


#fb {

	background: transparent url('../image/fb_icon.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 40px;
	float:left;

}

#insta {
	background: transparent url('../image/insta_icon.png');
	background-repeat: no-repeat;
	width: 55px;
	height: 42px;
	float: left;
}

#youtube {
	background: transparent url('../image/youtube_icon.png');
	background-repeat: no-repeat;
	width: 55px;
	height: 42px;
	float: left;
	margin-right: 80px;
}
