@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
	box-sizing: border-box;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/*set overall body font */

body {
	font-family: Montserrat, lato;
}

/* define content wrapper */
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 auto;
}

/*set a background image for header */
.hero_image{
	background: transparent url("../image/hero_image.png");
	background-size: cover;
	height: 657px;
	background-repeat: no-repeat;
	background-origin: padding-box;
	
}
/*header styling */
header {
	top: 20px;
	height: 136px;
	
}
#logo {
	margin-top: 20px;
	width: 124px;
	height: 96px;
	
}

img {
	object-fit: cover;
}

.left-header {
	/*display: inline-block;*/
	float: right;
	width: 719px;
	height: 118px;
	padding: 10px;
	/*border:3px solid red;*/

}

.navigation-bar {
	padding-top: 35px;
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	width: 655px;
}

li {
	display: inline-block;
	list-style-type: none;
	padding-left: 27px;
	padding-right: 27px;
	height: 68px;

}

li a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 22px;
	
}

#hello-button {
	width: 204px;
	height: 54px;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 34px;
	text-align: center;
	text-decoration: none;
	color: #3693D6;
	font-family: montserrat;
	font-size: 22px;
	padding: 14px 50px 14px 50px;
}

/* styling for Our Work button */
div.work{
	float: right;
	margin-top: 400px;
	margin-right: 60px;
	margin-bottom: 81px;
}
#work-button {
	width: 240px;
	height: 68px;
	padding: 19px 57px 19px 57px;
	margin-top: 450px;
	background-color: #3693D6;
	border: 2px solid #3693D6;
	border-radius: 34px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-family: montserrat;
	font-size: 25px;
	 
}

/* styling for About me box */
section.about-me {
	top: 657px;
	height: 563px;
	background-color: #3693D6;
}

h1 {
	text-align: center;
	font-family: montserrat;
	font-size: 52px;
	letter-spacing: 0px;
	color: #FFFFFF;
	padding-top: 100px;
}

.about-content {
	/*position: relative;*/
	width: 1268px;
	height: 232px;
	padding: 48px 19px 120px 19px;
	font-family: montserrat;
	font-size: 42px;
	color: #FFFFFF;
	
}

p {
	text-align: center;
}

/* style for our work */
section.our-work {
	/* UI property */
	text-align: center;
	background-color: #FFFFFF;
	
}

h2#work-head {
	margin-top: 100px;
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 100px;
	width: 260px;
	height: 63px;
}

h2 {
	text-align: center;
	font-weight: 600;
	font-size: 52px;
	font-family: Montserrat;
	color: #3693D6;
	letter-spacing: 0px;
	
}

.gallery {
	width: 100%;
	vertical-align: middle;
	margin: auto;
	padding: 0.1rem;
	background-color: #FFFFFF;
}

.gallery_img {
	display: inline-block;
	width: 418px;
	height: 392px;
	object-fit: cover;
}

.gallery_img2 {
	display: inline-block;
	width: 838px;
	height: 400px;
	object-fit: cover;
}
section.user-info{
	margin-top: 100px;
	margin-bottom: 138px;
}
.user {
	vertical-align: middle;
	margin-left: 200px;
	margin-right: 200px;
	width: 812px;
	height: 821px;
}

#user-heding {
	margin-bottom: 38px;
}

#user-img {
	display: block;
	margin-bottom: 34px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 255px;
	width: 265px;
	height: 265px;
	
}

#user-name {
	text-align: center;
	font-family: Montserrat;
	font-size: 42px;
	color: #3696D6;
	margin-bottom: 40px;
}

#user-info {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Montserrat;
	font-size: 32px;
	color: #3693D6;
}

.circle {
	display: inline-block;
	margin-top: 51px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #E2E2E2;
}

#ellips1 {
	margin-left: 50%;
	background-color: #9BC0FF;
}

section.card-container {
	height: 754px;
	vertical-align: middle;
	/* UI properties */
	background-color: #3693D6;
}

.arrow {
	margin-top: 361px;
	width: 15px;
	height: 15px;
	border: 2px solid #FFFFFF;
	border-width: 0 5px 5px 0;
	display: inline-block;
	
	padding: 2px;
}

.left {
	margin-left: 5px;
	margin-right: 35px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right {
	margin: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.card {
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 60px;
	width: 336px;
	height: 554px;
	vertical-align: middle;
	/*UI properties */
	background-color: #FFFFFF;
	box-shadow: 0px 3px 10px #00000029;
	border-radius: 8px;
}

.icon {
	margin: 77px 80px 55px 80px;
	width: 177px;
	height: 135px;

}

.card-title {
	text-align: center;
	font-size: 30px;
	font-family: Lato;
	font-weight: bold;
	color: #29313E;
	margin-right: 76px;
	margin-bottom: 27px;
	margin-left: 76px;

}

.card-text {
	/*display: block;*/
	text-align: center;
	font-size: 24px;
	font-family: Lato;
	vertical-align: middle;
	color: #29313E;
	margin-right: 19px;
	margin-left: 20px;
	margin-bottom: 44px;
}

span {
	color: #0098DA;
}

section.form {
	/*margin-left: 30px;*/
	margin:0 auto;
	margin-bottom: 100px;
}
h3 {
	width: 823px;
	padding-top: 100px;
	text-align: left;
	margin-left: 70px;
	font: normal normal normal 40px/50px Montserrat;
	color: #151D41;
}

form.input-user {
	height: 630px;

}

.user_ip-left {
	margin-left: 70px;
	display: inline-block;
}

.user_ip-right {
	display: inline-block;
	width: 620px;
	float: right;
	height: 280px;
	margin-left: 40px;
}

.user_ip-left input[type=text],
input[type=email],
input[type=tel] {
	width: 550px;
	height: 55px;
	margin-top: 50px;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 31px;
	background-color: #FFFFFF;
	border: 1px Solid #151D41;
	border-radius: 5px;
	font-size:18px/22px;
	font-family: Montserrat;
	color: #151D41;


}

input[type=submit] {
	width: 280px;
	height: 65px;
	background-color: #3693D6;
	border-radius: 40px;
	font-size: 25px/30px;
	font-family: Montserrat;
	color: #FFFFFF;
	margin-top: 80px;
	margin-bottom: 100px;

}

textarea#msg {
	width: 530px;
	height: 266px;
	padding-top: 30px;
	padding-left: 30px;
	background-color: #FFFFFF;
	border: 1px solid #151D41;
	border-radius: 5px;
	text-align: left;
	font-size: 18px/22px;
	font-family: Montserrat;
	color: #151D41;
	margin-top: 48px;

}

footer {
	height: 300px;
	background-color: #3693D6;
	vertical-align: middle;
}

.footer-logo {
	display: inline-block;
	float: left;
	margin-top: 135px;
	width: 122px;
	height: 58px;
}

.footer-containt {
	float: left;
	padding-top: 73px;
}

h4 {
	padding-left: 13px;
	text-align: center;
	font-weight: 600;
	font-size:32px;
	font-family: Montserrat;
	color: #FFFFFF;
}
.flocation{
	margin-top: 28px;
	margin-left: 44px;
	width: 264px;
	height: 87px;
	text-align: left;
	font-size: 22px;
	font-family: Montserrat;
	color: #FFFFFF;	
}

.mail-tel{
	margin-left: 30px;
	margin-top: 28px;
	text-align: left;
	font-size: 22px;
	font-family: Montserrat;
	color: #FFFFFF;
	
}

#mail {
	width: 234px;
	height: 51px;
}

#tel {
	width: 151px;
	height: 27px;
}

.ficon {
	vertical-align: middle;
	display: inline-block;
	width: 370px;
	height: 40px;
	margin-top: 120px;
	margin-left: 40px;
}

a.ficon {
	width: 50px;
	height: 50px;
	margin-top: 70px;
}

#fb {

	background: transparent url('../image/fb_icon.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
	width: 20px;
	height: 40px;
	float:left;
	margin-left: 100px;

}

#insta {
	background: transparent url('../image/insta_icon.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
	width: 55px;
	height: 42px;
	float: left;
	margin-left: 50px;
}

#youtube {
	background: transparent url('../image/youtube_icon.png');
	background-repeat: no-repeat;
	background-origin: padding-box;
	width: 55px;
	height: 42px;
	float: left;
	margin-left: 35px;
}
